<template>
  <div class="wrapper">
    <notifications></notifications>
    <side-bar>
      <template slot="links">
        <sidebar-item
          :link="{
            name: 'Perfil',
            path: '/perfil',
            icon: 'fas fa-user text-green',
          }"
        >
        </sidebar-item>

        <sidebar-item
            :link="{
              name: 'Exámenes',
              path: '/examenes',
              icon: 'fas fa-book-medical text-blue'
              }"
            >
        </sidebar-item>

        <sidebar-item
              :link="{
                name: 'Prescripciones',
                path: '/prescripciones',
                icon: 'fas fa-file-invoice text-orange'
              }">
        </sidebar-item>

        <b-button @click="generateQR" v-if="!$isTemporal"><i class="fas fa-qrcode text-yellow"></i> Generar QR</b-button>
      </template>
    </side-bar>

    <div class="main-content">
      <dashboard-navbar :type="$route.meta.navbarType"></dashboard-navbar>

      <div @click="$sidebar.displaySidebar(false)">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </fade-transition>
      </div>
      <b-modal centered size="md" title="Credenciales generadas" v-model="showQRModal">
        <b-row align-h="center">
           <b-col lg="12" class="text-center">
              <vue-qrcode v-bind:value="qrValue" />
           </b-col>
          <b-col lg="12"  class="text-center">
            <li>Usuario: <strong>{{ usuario }}</strong></li>
            <li>Contraseña: <strong>{{ password }}</strong></li>
            <li><strong>Disponible hasta el {{ moment(fechaLimite).format("DD-MM-YYYY [a las] HH:mm") }}</strong></li>
            <a :href="qrValue" class="small" target="_blank">{{qrValue}}</a>
          </b-col>
        </b-row>
      </b-modal>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
  /* eslint-disable no-new */
  import PerfectScrollbar from 'perfect-scrollbar';
  import 'perfect-scrollbar/css/perfect-scrollbar.css';

  function hasElement(className) {
    return document.getElementsByClassName(className).length > 0;
  }

  function initScrollbar(className) {
    if (hasElement(className)) {
      new PerfectScrollbar(`.${className}`);
    } else {
      // try to init it later in case this component is loaded async
      setTimeout(() => {
        initScrollbar(className);
      }, 100);
    }
  }

  import DashboardNavbar from './DashboardNavbar.vue';
  import ContentFooter from './ContentFooter.vue';
  import DashboardContent from './Content.vue';
  import { FadeTransition } from 'vue2-transitions';
import VueQrcode from 'vue-qrcode';
import moment from 'moment';
import { userService } from '../../services'

  export default {
    components: {
      DashboardNavbar,
      ContentFooter,
      DashboardContent,
      FadeTransition,
      VueQrcode
    },
    data(){
      return {
        moment,
        qrValue: null,
        usuario: null,
        password: null,
        fechaLimite: null,
        showQRModal: false
      }
    },
    methods: {
      initScrollbar() {
        let isWindows = navigator.platform.startsWith('Win');
        if (isWindows) {
          initScrollbar('sidenav');
        }
      },
      generateQR(){
        userService.generateCredentials().then(res => {
          this.showQRModal = true;
          this.usuario = res.response.nombreUsuario;
          this.password = res.response.password;
          this.fechaLimite = res.response.fecha;
          this.qrValue = `http://localhost:8080/#/login?username=${this.usuario}&password=${this.password}`;
        }).catch(err=> {
          alert("Error: "+err)
        })
      }
    },
    mounted() {
      if(!localStorage.getItem('token', null)){
        this.$router.push('login');
      }
      this.initScrollbar()
    }
  };
</script>
<style lang="scss">
</style>
