<template>
  <div style="min-height: 100%; height:auto !important; height: 100%;">
    <div class="container-login">
      <b-row class="body-film">
        <b-col
          lg="5"
          md="7"
          style="display: grid; align-items: center; background-color: #BCDEF1;"
        >
          <div class="text-center">
            <b-img fluid src="img/logo-medfile.png"> </b-img>
          </div>
        </b-col>
        <b-col lg="7" md="7" style="display: grid; align-items: center;">
          <div no-body class="bg-secondary border-0 mb-0 ">
            <b-card-body class="px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h1 style="color: #234A66; font-weight:bold">Inicia sesión</h1>
                <br />
                <p class="mb--2 text-danger" v-for="error in errors" :key="error">
                  {{ error }}
                </p>
              </div>
              <validation-observer
                v-slot="{ handleSubmit }"
                ref="formValidator"
              >
                <b-form role="form" @submit.prevent="handleSubmit(onSubmit)">
                  <b-form-input
                    alternative
                    id="user"
                    class="mb-4"
                    name="Email"
                    :state="status.email"
                    placeholder="Email/Código"
                    v-model="model.email"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback class="mb-3" id="user">
                    Falta el usuario o email
                  </b-form-invalid-feedback>

                  <b-form-input
                    id="password"
                    alternative
                    class="mb-1"
                    name="Password"
                    type="password"
                    placeholder="Contraseña"
                    :state="status.password"
                    v-model="model.password"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback id="password">
                    Falta la contraseña
                  </b-form-invalid-feedback>

                  <div class="text-center">
                    <base-button native-type="submit" class="my-4 bot"
                      >Ingresar</base-button
                    >
                    <p class="mb--2">¿Aún no te registras?</p>
                    <router-link
                      style="color: #234A66; font-weight:bold"
                      to="register"
                      >Registrarse</router-link
                    >
                  </div>
                </b-form>
              </validation-observer>
            </b-card-body>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import { authService } from "../../services";

export default {
  data() {
    return {
      model: {
        email: "",
        password: ""
      },
      status: {
        email: "",
        password: null
      },
      errors: []
    };
  },
  mounted(){
    const username = this.$route.query.username;
    const pwd = this.$route.query.password;
    if(username && pwd){
      this.model.email = username;
      this.model.password = pwd;
    }
  },
  methods: {
    onSubmit() {
      if (!this.model.email) {
        this.status.email = false;
      }
      if (!this.model.password) {
        this.status.password = false;
      }

      if (!this.model.email || !this.model.password) return;

      authService
        .login(this.model.email, this.model.password)
        .then(res => {
          localStorage.setItem('token', res.token);
          localStorage.setItem('is_temporal', res.is_temporal ? 1 : 0);
          this.$router.replace("perfil");
        })
        .catch(err => {
          this.errors = err;
        });
    }
  }
};
</script>
<style>
html,
body {
  height: 100%;
}
.container-login {
  height: 100%;
  overflow-y: hidden; /* don't show content that exceeds my height */
}
.body-film {
  min-height: 100%;
  overflow-y: scroll;
}
.bot {
  background-color: #496f84;
}
.img {
  max-width: 100%;
  height: auto;
}
</style>
