<template>
  <div style="min-height: 100%; height:auto !important; height: 100%;">
    <div class="container-login">
      <b-row class="body-film">
        <b-col
          lg="5"
          md="7"
          style="display: grid; align-items: center; background-color: #BCDEF1;"
        >
          <div class="text-center">
            <b-img src="img/logo-medfile.png"> </b-img>
          </div>
        </b-col>
        <b-col lg="7" md="7" style="display: grid; align-items: center;">
          <div no-body class="bg-secondary border-0 mb-0 ">
            <b-card-body class="px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h1 style="color: #234A66; font-weight:bold">Crea tu cuenta</h1>
                <br />
              </div>
              <validation-observer
                v-slot="{ handleSubmit }"
                ref="formValidator"
              >
                <b-form role="form" @submit.prevent="handleSubmit(register)">

                  <base-input
                    alternative
                    class="mb-3"
                    placeholder="Nombre"
                    name="Name"
                    :rules="{ required: true }"
                    v-model="model.nombre"
                  >
                  </base-input>

                  <base-input
                    alternative
                    class="mb-3"
                    placeholder="Apellido"
                    name="Surname"
                    :rules="{ required: true }"
                    v-model="model.apellido"
                  >
                  </base-input>

                  <input
                      class="form-control mb-3"
                      type="date"
                      v-model="model.fechaNac"
                    />

                  <base-input
                    alternative
                    class="mb-3"
                    placeholder="Email"
                    name="Email"
                    :rules="{ required: true, email: true }"
                    v-model="model.email"
                  >
                  </base-input>

                  <base-input
                    alternative
                    class="mb-3"
                    placeholder="Contraseña"
                    type="password"
                    name="Password"
                    :rules="{ required: true, min: 6 }"
                    v-model="model.password"
                  >
                  </base-input>

                  <div class="text-center">
                    <base-button native-type="submit" class="my-4 bot mt-4"
                      >Create account</base-button
                    >
                                        <p class="mb--2">¿Ya tienes una cuenta?</p>
                    <router-link style="color: #234A66; font-weight:bold" to="login">Ingresa</router-link>
                  </div>
                </b-form>
              </validation-observer>
            </b-card-body>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import { authService } from '../../services';

export default {
  data() {
    return {
      model: {
        email: "",
        password: "",
        nombre: "",
        apellido: "",
        fechaNac: null
      }
    };
  },
  methods: {
    register() {
      authService.register(this.model).then(res => {
        alert("Registrado correctamente");
        this.$router.push("login");
      }).catch(err => {
        alert(err)
      })
    }
  }
};
</script>
<style>
html,
body {
  height: 100%;
}
.container-login {
  height: 100%;
  overflow-y: hidden; /* don't show content that exceeds my height */
}
.body-film {
  min-height: 100%;
  overflow-y: scroll;
}
.bot {
  background-color: #496f84;
}
.img {
  max-width: 100%;
  height: auto;
}
</style>
