<template>
  <card>
    <b-row align-v="center">
      <b-tabs fill style="padding: 0 20px;">
        <b-tab active>
          <template v-slot:title>
            <i class="ni ni-cloud-upload-96 mr-2"></i> Información personal
          </template>

          <b-form @submit.prevent="saveProfile" v-if="user">
            <div class="mt-5 ">
              <b-row>
                <b-col lg="6">
                  <base-input
                    type="text"
                    label="Nombre"
                    placeholder="Nombre"
                    v-model="user.nombre"
                    :disabled="$isTemporal"
                  >
                  </base-input>
                </b-col>
                <b-col lg="6">
                  <base-input
                    type="text"
                    label="Apellido"
                    placeholder="Apellido"
                    v-model="user.apellido"
                    :disabled="$isTemporal"
                  >
                  </base-input>
                </b-col>

                <b-col lg="6">
                  <div class="form-group">
                    <label for="healthcare">Genero</label>
                    <select class="form-control" v-model="user.genero" :disabled="$isTemporal">
                      <option value="F">Femenino</option>
                      <option value="M">Masculino</option>
                      <option value="O">Otro</option>
                    </select>
                  </div>
                </b-col>
                <b-col lg="6">
                  <base-input
                    type="text"
                    label="Email"
                    placeholder="email@dominio.cl"
                    v-model="user.email"
                    disabled
                  >
                  </base-input>
                </b-col>

                <b-col lg="6">
                  <base-input
                    type="date"
                    label="Fecha de nacimiento"
                    placeholder=""
                    v-model="user.fechaNac"
                    :disabled="$isTemporal"
                  >
                  </base-input>
                </b-col>

                <b-col lg="6">
                  <div class="form-group">
                    <label for="healthcare">Prevision de salud</label>
                    <select class="form-control" v-model="user.prevision" :disabled="$isTemporal">
                      <option value="F">Fonasa</option>
                      <option value="I">Isapre</option>
                    </select>
                  </div>
                </b-col>

                <b-col lg="6">
                  <div class="form-group">
                    <label for="bloodType">Tipo de sangre</label>
                    <select class="form-control" v-model="user.tipoSangre" :disabled="$isTemporal">
                      <option value="O-">O -</option>
                      <option value="O+">O +</option>
                      <option value="A-">A -</option>
                      <option value="A+">A +</option>
                      <option value="B-">B -</option>
                      <option value="B+">B +</option>
                      <option value="AB-">AB -</option>
                      <option value="AB+">AB +</option>
                    </select>
                  </div>
                </b-col>
                <b-col lg="12" v-if="!$isTemporal">
                  <b-row align-h="end">
                    <base-button icon type="primary" nativeType="submit">
                      Guardar
                    </base-button>
                  </b-row>
                </b-col>
              </b-row>
            </div>

            <hr class="my-4" />
          </b-form>
        </b-tab>

        <b-tab>
          <template v-slot:title>
            <i class="ni ni-bell-55 mr-2"></i> Antecedentes
          </template>
          <br />
          <p v-if="!$isTemporal">Agregar antecedentes medicos</p>
          <b-form @submit.prevent="saveRecord" v-if="record">
            <div class="mt-5 ">
              <b-row>
                <b-col lg="6">
                  <base-input
                    type="text"
                    label="Alergias"
                    v-model="record.alergias"
                    :disabled="$isTemporal"
                  >
                  </base-input>
                </b-col>
                <b-col lg="6">
                  <base-input
                    type="text"
                    label="Cirugías"
                    v-model="record.cirugias"
                    :disabled="$isTemporal"
                  >
                  </base-input>
                </b-col>

                <b-col lg="6">
                  <base-input
                    type="text"
                    label="Medicamentos"
                    v-model="record.medicamentos"
                    :disabled="$isTemporal"
                  >
                  </base-input>
                </b-col>

                <b-col lg="6">
                  <div class="form-group">
                    <b-form-group label="Hereditarias:" :disabled="$isTemporal">
                      <b-form-checkbox v-model="record.diabetes"
                        >Diabetes</b-form-checkbox
                      >
                      <b-form-checkbox v-model="record.tiroides"
                        >Enfermedades tiroideas</b-form-checkbox
                      >
                      <b-form-checkbox v-model="record.hipertension"
                        >Hiper/Hipotension arterial</b-form-checkbox
                      >
                      <b-form-checkbox v-model="record.cardiopatias"
                        >Cardiopatias</b-form-checkbox
                      >
                    </b-form-group>
                  </div>
                </b-col>

                <b-col lg="12" v-if="!$isTemporal">
                  <b-row align-h="end">
                    <base-button
                      icon
                      type="primary"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Tooltip on bottom"
                      nativeType="submit"
                    >
                      Guardar
                    </base-button>
                  </b-row>
                </b-col>
              </b-row>
            </div>

            <hr class="my-4" />
          </b-form>
        </b-tab>
      </b-tabs>
    </b-row>
  </card>
</template>
<script>

import { userService } from '../../../services'

export default {
  props: {
    user: {
      type: Object
    },
    record: {
      type: Object
    }
  },
  data() {
    return {
      selected: [],
      show: true
    };
  },
  methods: {
    updateProfile() {
      alert("Your data: " + JSON.stringify(this.user));
    },
    hide() {
      this.show = !this.show;
    },
    saveRecord() {
      userService.editRecord(this.record).then(res => {
        alert("OK")
      }).catch(err => {
        alert("Error")
      })
    },
    saveProfile() {
      userService.editProfile(this.user).then(res => {
        alert("OK")
      }).catch(err => {
        alert("Error")
      })
    }
  }
};
</script>
<style>
.clickeable {
  cursor: pointer;
}
</style>
